img { /* Typselektor */
  width:100%;
  height: auto;
}

nav {
	border: 2px solid blue;
	background-color: #99CCFF}
	
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section{
	text-align: justify;
}

main {
  width: 100%;
}

footer {
	background-color: #99CCFF;
	margin-top: 0.5em;
	padding: 5px;
	font-size: 10px;
}
	
aside {
  display: inline-block;
  width: 20%;
  min-width: 110px;
  margin: 0.5em 0 0 0;
  padding: 0px 5px 5px 5px;
  background-color: #D3D3D3;
}	

h4{
	text-align: center;
}

header{
	text-align: center;
}

table{
	width: 98%;
	border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
	
.navbarL { /* Klassenselektor */
	float: left;}

.navbar {
    display: block;
    padding: 8px;
    background-color: #ccffff;
	border: 1px solid black;
	text-decoration: none;
	color: black;
	font-weight: bold;
}	

.text{
	width: 98%;
	margin-left: 1%;
    	margin-right: 1%;
	margin-bottom: 10px;
}

#headline{ /* ID-Selektor */
	color: blue;
}

#main {
  display: inline-block;
  width: 75%;
  border: 2px solid blue;
  margin-top: 0.5em;
  padding: 5px;
}

#bernersLee{
	width: 60%;
	margin-right: 20%;
	margin-left:20%;
}

#videos{
	display: block;
	padding: 5px;
	background-color:#c0c0c0;
	margin-top: 5px;
}

#anlegen{
	background-color: #c0c0c0;
	padding: 5px;
	margin-top: 5px;
}

#add, #details, #cancel{
	margin-top: 10px;
	width: 98%;
	margin-right: 1%;
	margin-left:1%;
	border-radius: 20px;
	background-color: #a9a9a9;
}

