extends layout
  
block content
  div.mdl-grid
    div(style="width: auto;").mdl-card.mdl-cell.mdl-cell--3-col.mdl-cell--2-col-tablet.mdl-shadow--2dp
      div.mdl-card__title
        h1.mdl-card__title-text Create New Event
      div(style="display:flex; flex-direction: column;").mdl-card__supporting-text.mdl-card__actions.mdl-card--border
        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input(id="titleInput", type="text").mdl-textfield__input
          label(for="titleInput").mdl-textfield__label Title
        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input(id="descriptionInput", type="text").mdl-textfield__input
          label(for="descriptionInput").mdl-textfield__label Description
        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input(id="categorieInput", type="text").mdl-textfield__input
          label(for="categorieInput").mdl-textfield__label Categorie
        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input(id="placeInput", type="text").mdl-textfield__input
          label(for="placeInput").mdl-textfield__label Place
        div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
          input(id="dateInput", type="text", value="Date", disabled).mdl-textfield__input
          label(for="dateInput").mdl-textfield__label Date
        a(id="dateButton").mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect Add Date
      div(style="display:flex; flex-direction: column;").mdl-card__actions.mdl-card--border
        a(onclick="createNewEvent()").mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-js-ripple-effect Create
        
  link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en")
  link(rel="stylesheet", href="/node_modules/md-date-time-picker/dist/css/mdDateTimePicker.css")
  script(src="/node_modules/md-date-time-picker/dist/js/moment.min.js")
  script(src="/node_modules/md-date-time-picker/dist/js/mdDateTimePicker.js")
  script(type='text/javascript').
    window.onload = function() {
      var dateInput = document.getElementById('dateInput');
      dateInput.value = new Date()
      //dateInput.value = moment();
      
      var dialog = new mdDateTimePicker.default({
        type: 'date',
        future: moment().add(2, 'years')
      });
      var toggleButton = document.getElementById('dateButton');
      toggleButton.addEventListener('click', function() {
      dialog.toggle();
      });
      // assuming test1 is an input text element
      dateInput.addEventListener('onOk', function() {
        this.value = dialog.time.toString();
      });
      dialog.trigger = dateInput;
    }
    
    function createNewEvent() {
      //get all inputs
      var event = new Object();
      event.title             = document.querySelector('#titleInput').value;
      event.description = document.querySelector('#descriptionInput').value;
      event.categorie    = document.querySelector('#categorieInput').value;
      event.date            = document.querySelector('#dateInput').value;
      event.place          = document.querySelector('#placeInput').value;
      event.creator        = localStorage.username;
      event.createdAt   = new Date();

      // construct an HTTP request
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/api/events", true);
      xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

      // send the collected data as JSON
      xhr.send(JSON.stringify(event));
      
      // handle the response
      xhr.onreadystatechange = function() {
        // https://xhr.spec.whatwg.org/#dom-xmlhttprequest-readystate
        if(xhr.readyState == 4 && xhr.status == 201) { //DONE
          var eventID = xhr.getResponseHeader("EventID");
          //Redirect
          var url = "/generated/events/" + eventID;
          window.location.href = url;
        } else {
          //Handle it 
        }
      }
    }
