<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="">WG Finanzen</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="{{isActive('/')}}"><a routerLink="/">Neuer Mitbewohner</a></li>
          <li class="{{isActive('/addPurchase')}}"><a routerLink="/addPurchase">Neuer Kauf</a></li>
          <li class="{{isActive('/showPurchases')}}"><a routerLink="/showPurchases">Käufe</a></li>
          <li class="{{isActive('/balances')}}"><a routerLink="/balances">Bilanzen</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
  <router-outlet></router-outlet>
</div>
